Repository noahblon/noah-blon-dot-com: changes, and which lint-staged commands are due for each by the changed paths.
All: npx sort-package-json, prettier --write, eslint --fix

chore: add eslint to lint-staged
  .lintstagedrc
Due: none

chore: update eslint options for modern JS
  .eslintrc.json
  .huskyrc.json
Due: prettier --write

chore: add eslint-config-prettier
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --write

feat: add tailwindcss
  gatsby-browser.js
  gatsby-config.json
  package-lock.json
  package.json
  postcss.config.js
  src/styles/global.css
  tailwind.config.js
Due: npx sort-package-json, prettier --write, eslint --fix

feat: add gatsby image handling
  gatsby-config.json
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --write

feat(add react linting):
  .eslintrc.json
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --write

feat: add images processed through gatsby image to posts
  src/hooks/use-posts.js
  src/posts/001-1.gif
  src/posts/001-an-intro-to-svg-animation-with-smil.mdx
  src/templates/post.js
Due: prettier --write, eslint --fix

feat: add code blocks with syntax highlighting in posts
  package-lock.json
  package.json
  src/components/code-block.js
  src/posts/001-an-intro-to-svg-animation-with-smil.mdx
  src/posts/002-coloring-svgs-in-css-background-images.mdx
  src/templates/post.js
Due: npx sort-package-json, prettier --write, eslint --fix

feat: add codepen embed to blog posts
  src/components/codepen.js
  src/posts/001-an-intro-to-svg-animation-with-smil.mdx
  src/posts/002-coloring-svgs-in-css-background-images.mdx
Due: prettier --write, eslint --fix

docs: add images to post
  src/posts/001-2.png
  src/posts/001-an-intro-to-svg-animation-with-smil.mdx
Due: none

feat: add a bunch of styling and imagery to layout
  gatsby-config.json
  images/avatar.png
  src/components/avatar.js
  src/components/hero.js
  src/components/layout.js
  src/components/mobile-nav.js
  src/components/post-preview.js
  src/pages/index.js
Due: prettier --write, eslint --fix

feat: add initial contact form
  package-lock.json
  package.json
  src/pages/contact.js
Due: npx sort-package-json, prettier --write, eslint --fix

fix(add an action and hidden input to contact form): an attempt to see if netlify will now pick up o
  src/pages/contact.js
Due: prettier --write, eslint --fix

feat: add a thanks page and change form action to point to thanks
  src/pages/contact.js
  src/pages/thanks.js
Due: prettier --write, eslint --fix

fix: fix hidden form field name in contact form
  src/pages/contact.js
Due: prettier --write, eslint --fix

feat: add redirect to thanks page after successful form submission
  src/pages/contact.js
Due: prettier --write, eslint --fix

fix: fix navigate to correct url in contact form
  src/pages/contact.js
Due: prettier --write, eslint --fix

fix: get action attribute rather than property for form for corrrect navigation
  src/pages/contact.js
Due: prettier --write, eslint --fix

feat: add mailbox image to contact page
  images/mailbox.png
  src/pages/contact.js
Due: prettier --write, eslint --fix

feat: update avatar to use gatsby image
  src/components/avatar.js
Due: prettier --write, eslint --fix

refactor(remove sample post):
  src/posts/000-sample-post.mdx
Due: none

feat: css updates for homepage
  src/components/hero.js
  src/components/layout.js
  src/components/mobile-nav.js
  src/components/post-preview.js
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: add about page
  images/internet.png
  src/pages/about.js
Due: prettier --write, eslint --fix

fix: .snyk, package.json & package-lock.json to reduce vulnerabilities
  .snyk
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --write

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package.json
Due: npx sort-package-json, prettier --write

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package-lock.json
Due: prettier --write

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  .snyk
Due: none

Path conditions:
  npx sort-package-json: any of: package.json
  prettier --write: any of: *.{js,json,md}
  eslint --fix: any of: *.js
